<table class="min-w-full text-sm text-left text-gray-500 dark:text-gray-400" id="pmo-list">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">ID</th>
            <th scope="col" class="px-6 py-3">Email</th>
            <th scope="col" class="px-6 py-3">Username</th>
            <th scope="col" class="px-6 py-3">First Name</th>
            <th scope="col" class="px-6 py-3">Last Name</th>
            <th scope="col" class="px-6 py-3">Action</th>
        </tr>
    </thead>
    <tbody >
        {% for user in users %}
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700" id="user-list-item-{{ user.id }}">
                <td class="px-6 py-3 ">{{ user.id }}</td>
                <td class="px-6 py-3 "><a class="text-blue-600 font-bold" href="{{ path('app_admin_pmo_directory_edit', {'id': pmo.id}) }}">{{ user.email }}</a></td>
                <td class="px-6 py-3 ">{{ user.username }}</td>
                <td class="px-6 py-3 ">{{ user.firstName }}</td>
                <td class="px-6 py-3 ">{{ user.lastName }}</td>
                <td class="px-6 py-3 ">
                    <div class="flex">
                        <a href="{{ path('app_admin_users_edit', {'id': user.id}) }}" class="px-1 font-bold text-blue-900">Update</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <td class="px-6 py-3" colspan="5">No records found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4" aria-label="Table navigation">
    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
        Showing
        <span class="font-semibold text-gray-900 dark:text-white">{{ users.currentPageOffsetStart }}-{{ users.currentPageOffsetEnd }}</span>
        of
        <span class="font-semibold text-gray-900 dark:text-white">{{ users.nbResults }}</span>
    </span>

    <ul class="inline-flex items-stretch -space-x-px">
        {% if users.hasPreviousPage %}
            <li>
                <a href="{{ pagerfanta_page_url(users, users.previousPage) }}"
                    class=" flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <span class="sr-only">Previous</span>
                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                            clip-rule="evenodd" />
                    </svg>
                </a>
            </li>
        {% endif %}

        {% if users.hasNextPage %}
            <li>
                <a href="{{ pagerfanta_page_url(users, users.nextPage) }}"
                    class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <span class="sr-only">Next</span>
                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd" />
                    </svg>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
